@media (max-width:1200px) {
    nav{
        min-width: 115%;
    }
    .hero-col2{
        width: 30%;
        padding-top: 10em;
    }
}    
@media (max-width:1024px) {
    .alert{
        width: 118%;
    }
    nav{
        min-width: 115%;
    }
    .nav-links{
        padding-top: 1em;
    }
   
    .hero-col2{
        width: 40%;
        padding-top: 10em;
    }
}
@media (max-width:910px) {
    .nav-links :nth-of-type(4){
        display: none;
    }
}
@media (max-width:767px) {
    .alert{
        width: 100%;
    }
    nav{
       width: 100%;
       margin: auto;
    }

    .nav-links{
        display: none !important;
    }
    .nav-btn-div{
        display: none;
    }
    #nav-menu-bar{
        display: flex !important;
        gap: 5em;
    }
    .nav-btn{
        margin-left:50% ;
    }
    /* .sect2-inner-container{
        flex-wrap: wrap !important;
    } */
    .hero-col2{
        width: 21% !important;
        padding-top: 10em;
    }
    .hero-btn1{
        width: 7em !important;
        /* display: none; */
    }
    .hero-btn2{
        width: 7em !important;
    }
}